body{
  background-color: #000;
  overflow-x: hidden;
}

.card{
    min-height: 420px;
}

.card-text{
  height: 72px;
}

.ci-text{
  height: 20px;
}

.header-titles{
  margin-left: 20%;
  margin-top: 6rem;
  color: #FFF;
  font-size: 5rem;
}

.header-titles h2{
  font-size: 4rem;
}
.header-titles h4{
  margin-left: 2%;
  font-size: 2rem;
}

.sites-title{
    margin-bottom: 2rem;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
}


figure{
    color: #FFF;
}

figcaption{
    margin-top: 1rem;
}
